<ion-header [translucent]="false" collapse="fade">
  <ion-toolbar>
    <ion-title>Competências</ion-title>
    <ion-note color="medium">Formulário 1006</ion-note>
    <ion-buttons class="menu-buttons">
      <ion-button [routerLink]="['/']"
        ><ion-icon name="home-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
      <ion-button
        fill="solid"
        class="button-default"
        [routerLink]="['/formulario']"
        >Formulários</ion-button
      >
      <ion-button
        ><ion-icon name="exit-outline" size="large" class="menu-icon"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="wrapper-forms">
      <div class="competece-form-card-wrapper">
        <div class="competece-form-card-wrapper__competece-title">
          <ion-text>
            Competência 1
          </ion-text>
        </div>
        <div class="competece-form-card-wrapper__form-arrow">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="competece-form-card-wrapper">
        <div class="competece-form-card-wrapper__competece-title">
          <ion-text>
            Competência 2
          </ion-text>
        </div>
        <div class="competece-form-card-wrapper__form-arrow">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="competece-form-card-wrapper">
        <div class="competece-form-card-wrapper__competece-title">
          <ion-text>
            Competência 3
          </ion-text>
        </div>
        <div class="competece-form-card-wrapper__form-arrow">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="competece-form-card-wrapper">
        <div class="competece-form-card-wrapper__competece-title">
          <ion-text>
            Competência 4
          </ion-text>
        </div>
        <div class="competece-form-card-wrapper__form-arrow">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="competece-form-card-wrapper">
        <div class="competece-form-card-wrapper__competece-title">
          <ion-text>
            Competência 5
          </ion-text>
        </div>
        <div class="competece-form-card-wrapper__form-arrow">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
