<ion-header [translucent]="false" [ngStyle]="{'display': isLoading ? 'none' : 'block'}">
  <ion-toolbar>
    <!-- Aqui entraria o nome do aluno -->
    <ion-title style="color: #fff;"> SESI Ionic Custom Components</ion-title>
    <ion-buttons class="menu-buttons">
      <ion-button [routerLink] = "['/']"><ion-icon name="home-outline" size="large" class="menu-icon"></ion-icon></ion-button>
      <ion-button fill="solid" class="button-default" expand="block" id="open-modal">Seções</ion-button>
      <ion-button><ion-icon name="exit-outline" size="large" class="menu-icon"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="loading" *ngIf="isLoading">
    <img src="../../assets/images/preloader.gif" alt="Gif de pré-carregamento" class="preloader"/>
  </div>
  <div class="content-wrapper">
    <ion-card class="support-card">
      <ion-title class="support-card__title">RDS - Reconhecimento de Saberes</ion-title>
      <ion-text class="support-card__highlighted-text">
        Suas competências não formais, informais e formais valorizadas. Conhecimentos, aspirações e interesses de vida são considerados em nossas avaliações.
      </ion-text>
      <ion-text>
        Participe ao responder nossos formulários e entrevistas para análise e aproveitamento de todas as suas experiências.
      </ion-text>
    </ion-card>
    <ion-card class="support-card">
      <ion-title class="support-card__title">
        Formulário de vida
      </ion-title>
      <ion-text>
        Ao responder os formulários abaixo, relembre o passado, reflita e conte para nós um pouco da sua história de vida.
      </ion-text>
      <div class="wrapper-forms">
        <div class="form-card-wrapper">
          <div class="form-card-wrapper__form-number">
            <ion-text>
              1
            </ion-text>
          </div>
          <ion-text class="form-card-wrapper__form-title">História da minha vida</ion-text>
          <div class="form-card-wrapper__form-arrow">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="form-card-wrapper">
          <div class="form-card-wrapper__form-number">
            <ion-text>
              2
            </ion-text>
          </div>
          <ion-text class="form-card-wrapper__form-title">Ocupações no tempo livre</ion-text>
          <div class="form-card-wrapper__form-arrow">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="form-card-wrapper">
          <div class="form-card-wrapper__form-number">
            <ion-text>
              3
            </ion-text>
          </div>
          <ion-text class="form-card-wrapper__form-title">Participação em atividades sociais</ion-text>
          <div class="form-card-wrapper__form-arrow">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="form-card-wrapper">
          <div class="form-card-wrapper__form-number">
            <ion-text>
              4
            </ion-text>
          </div>
          <ion-text class="form-card-wrapper__form-title">Principais atividades profissionais e aprendizagens</ion-text>
          <div class="form-card-wrapper__form-arrow">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="support-card">
      <ion-title class="support-card__title">
        Competências e Avaliações
      </ion-title>
      <ion-text>
        Ao responder os formulários abaixo, compartilhe conosco suas competências e experiências pessoais e profissionais atualmente. Agora é o momento de avaliarmos suas habilidades em diversas áreas do conhecimento! Acesse os formulários abaixo e responda às questões de múltipla escolha.
      </ion-text>
      <div class="wrapper-forms">
        <div class="form-aval-card-wrapper languages">
          <div class="form-aval-card-wrapper__header">
            <div class="form-aval-card-wrapper__header__form-number">
              <ion-text>
                5
              </ion-text>
              <div class="form-aval-card-wrapper__header__form-number__status"></div>
            </div>
            <ion-text class="form-aval-card-wrapper__header__form-title">Linguagens, códigos e suas tecnologias</ion-text>
          </div>
          <div class="form-aval-card-wrapper__body languages-body">
            <ion-button disabled>Formulário</ion-button>
          </div>
        </div>
        <div class="form-aval-card-wrapper math">
          <div class="form-aval-card-wrapper__header">
            <div class="form-aval-card-wrapper__header__form-number">
              <ion-text>
                6
              </ion-text>
              <div class="form-aval-card-wrapper__header__form-number__status"></div>
            </div>
            <ion-text class="form-aval-card-wrapper__header__form-title">Matemática e suas tecnologias</ion-text>
          </div>
          <div class="form-aval-card-wrapper__body languages-body">
            <ion-button disabled>Formulário</ion-button>
          </div>
        </div>
        <div class="form-aval-card-wrapper natural-sciences">
          <div class="form-aval-card-wrapper__header">
            <div class="form-aval-card-wrapper__header__form-number">
              <ion-text>
                7
              </ion-text>
              <div class="form-aval-card-wrapper__header__form-number__status"></div>
            </div>
            <ion-text class="form-aval-card-wrapper__header__form-title">Ciências da natureza e suas tecnologias</ion-text>
          </div>
          <div class="form-aval-card-wrapper__body languages-body">
            <ion-button disabled>Formulário</ion-button>
          </div>
        </div>
        <div class="form-aval-card-wrapper human-sciences">
          <div class="form-aval-card-wrapper__header">
            <div class="form-aval-card-wrapper__header__form-number">
              <ion-text>
                8
              </ion-text>
              <div class="form-aval-card-wrapper__header__form-number__status"></div>
            </div>
            <ion-text class="form-aval-card-wrapper__header__form-title">Ciências humanas e suas tecnologias</ion-text>
          </div>
          <div class="form-aval-card-wrapper__body languages-body">
            <ion-button disabled>Formulário</ion-button>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Voltar</ion-button>
          </ion-buttons>
          <ion-title>Selecione uma seção</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="styled-component">
          <ion-button class="primary-button additional-button" (click)="redirectTo('login')">Exemplo Login</ion-button>
          <ion-button class="primary-button" (click)="redirectTo('competencias')">Exemplo Competências</ion-button>
          <ion-button class="secondary-button" (click)="redirectTo('formulario')">Exemplo de formulário</ion-button>
          <ion-button class="secondary-button additional-button" (click)="redirectTo('list-forms')">Exemplo Indíce de formulários</ion-button>
          <ion-button class="primary-button" (click)="redirectTo('old-content')">Conteúdo antigo da home</ion-button>
          <ion-button class="primary-button" (click)="redirectTo('info-boxes')">Box de informações</ion-button>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
